@import url("https://fonts.googleapis.com/css?family=Overpass+Mono:400,700|Overpass:400,400i,700,700i&display=swap&subset=latin-ext");

html, body {
    height: 100%;
}

body {
    background: #2F2F2F;
    background-color: #2F2F2F;
    font-family: "Overpass", Helvetica, sans-serif;
    font-size: 1.5rem;
    font-weight: normal;
    color: #E4E4E4;
    display: flex;
    flex-direction: column;
    margin: 0;
}

::selection {
    color: #E4E4E4;
    background: #121212;
}

::-moz-selection {
    color: #E4E4E4;
    background: #121212;
}

h1 {
    font-size: 1.3em;
}

h2 {
    font-size: .9em;
}

a:link, a:visited {
    color: #E4E4E4;
    text-decoration-color: #27C140;
}

a:hover, #keys-toggle:hover {
    color: #27C140;
}

a:active, #keys-toggle:active {
    color: #DA2828;

}

.container {
    margin: 10px auto;
    width: 95%;
    max-width: 600px;
    text-align: center;
    flex: 1 0 auto;
}

ul {
    padding: 0;
}

li {
    text-align: start;
    overflow: auto;
    list-style-position: inside;
}

.date {
    font-style: italic;
    font-size: .7em;
    color: #9d9d9d;
    float: right;
    font-family: "Overpass Mono", monospace;
    padding-top: 4px;
}

li:hover .date {
    color: #EFEFEF;
}

.icon {
    height: 48px;
    width: auto;
    margin-left: 1rem;
}

header, footer {
    background: #121212;
    width: 800px;
    margin: auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

header h1, header h2 {
    margin: 0 1rem;
}

header div {
    display: flex;
    align-items: center;
}

footer {
    font-size: 12px;
}

footer div {
    margin-left: 1rem;
    margin-right: 1rem;
}

@media only screen and (max-width : 840px) {
    header, footer {
        text-align: start;
        width: 100%;
    }

    header {
        flex-direction: column;
    }

    header h1 {
        font-size: .8em;
    }

    header h2 {
        font-size: 1.2em;
        margin-top: 1rem;
    }
}

kbd {
    /* Taken from the MDN web docs
     * https://developer.mozilla.org/en-US/docs/Web/HTML/Element/kbd
     */
    background-color: #E4E4E4;
    border-radius: 3px;
    border: 1px solid #b4b4b4;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .2), 0 2px 0 0 rgba(255, 255, 255, .7) inset;
    color: #2F2F2F;
    display: inline-block;
    font-family: "Overpass Mono", monospace;
    font-size: .85em;
    font-weight: 700;
    line-height: 1;
    margin: 0 2px;
    padding: 1.5px 4px .5px;
    white-space: nowrap;
    width: max-content;
}

.keys {
    font-size: .8em;
    margin: auto;
    width: max-content;
}

.keys .keys-action {
    text-align: start;
}

.keys .keys-binding {
    text-align: end;
}

.keys-header {
    margin-bottom: 8px;
}

#keys-toggle {
    font-size: .7em;
    color: #9d9d9d;
}
