---
layout: main
title: Slides
---

<em><a href="javascript:toggleKeys();" id="keys-toggle">Show keyboard shortcuts</a></em>

<script>
function toggleKeys() {
    var toggle = document.getElementById("keys-toggle");
    var show = "Show keyboard shortcuts";
    var hide = "Hide keyboard shortcuts";
    if ("textContent" in toggle) {
        toggle.textContent = toggle.textContent == show ? hide : show;
    } else {
        toggle.innerText = toggle.innerText == show ? hide : show;
    }
    
    Array.from(document.getElementsByClassName("keys")).forEach(el => {
        el.style.display = el.style.display == "none" ? "block" : "none";
    })
}
</script>

<table class="keys" style="display: none;">
    <tbody>
        <tr>
            <td class="keys-binding"><kbd>Space</kbd> <kbd>N</kbd></td>
            <td class="keys-action">Next slide</td>
        </tr>
        <tr>
            <td class="keys-binding"><kbd>P</kbd></td>
            <td class="keys-action">Previous slide</td>
        </tr>
        <tr>
            <td class="keys-binding"><kbd>←</kbd> <kbd>H</kbd></td>
            <td class="keys-action">Move left</td>
        </tr>
        <tr>
            <td class="keys-binding"><kbd>↓</kbd> <kbd>J</kbd></td>
            <td class="keys-action">Move down</td>
        </tr>
        <tr>
            <td class="keys-binding"><kbd>↑</kbd> <kbd>K</kbd></td>
            <td class="keys-action">Move up</td>
        </tr>
        <tr>
            <td class="keys-binding"><kbd>→</kbd> <kbd>L</kbd></td>
            <td class="keys-action">Move right</td>
        </tr>
        <tr>
            <td class="keys-binding"><kbd>Esc</kbd> <kbd>O</kbd></td>
            <td class="keys-action">Overview</td>
        </tr>
        <tr>
            <td class="keys-binding"><kbd>S</kbd></td>
            <td class="keys-action">Speaker view</td>
        </tr>
        <tr>
            <td class="keys-binding"><kbd>?</kbd></td>
            <td class="keys-action">Show help</td>
        </tr>
    </tbody>
</table>
<hr/>

<ul>
    {% for slide in site.slides %}
        {% if slide.published != false %}
            <li>
                <a href="{{ slide.url }}">{{ slide.title }}</a>

                <span class="date">
                    {{ slide.date | date: "%F" }}
                </span>
            </li>
        {% endif %}
    {% endfor %}
</ul>
