<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>
            {% if page.title %}
                {{ page.title }} - {{ site.title }}
            {% else %}
                {{ site.title }}
            {% endif %}
        </title>

        <link rel="stylesheet" href="/css/styles.css">
        <link rel="shortcut icon" type="image/png" href="/torch.png"/>
    </head>
    <body>
        <header>
            <div>
                <img src="/torch.png" class="icon">
                <h1>BCA Cybersecurity Club</h1>
            </div>
            {% if page.title %}
                <h2>{{ page.title }}</h2>
            {% endif %}
        </header>

        <div class="container">
            {{content}}
        </div>
        
        <footer>
            <div>
                Slides by BCA Cybersecurity Club.
                <a href="https://github.com/edwfeng/cybersecslides/">Source</a>.
            </div>
            
            <div>
                This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>.
            </div>
        </footer>
    </body>
</html>
