<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>
            {% if page.title %}
                {{ page.title }} - {{ site.title }}
            {% else %}
                {{ site.title }}
            {% endif %}
        </title>

        <link rel="stylesheet" href="/reveal.js/css/reset.css">
        <link rel="stylesheet" href="/reveal.js/css/reveal.css">
        <link rel="stylesheet" href="/css/theme.css">
        <link rel="stylesheet" href="/reveal.js/lib/css/monokai.css">

        <!--[if lt IE 9]>
        <script src="lib/js/html5shiv.js"></script>
        <![endif]-->
    </head>
    <body>

        <div class="reveal">
            <div class="slides">
                {{ content }}
            </div>
        </div>

        <script src="/reveal.js/js/reveal.js"></script>
        <script>
            Reveal.initialize({
                controls: false,
                progress: false,
                hash: true,
                transitionSpeed: "fast",

                dependencies: [
                    {src: "/reveal.js/plugin/markdown/marked.js",   condition: function() { return !!document.querySelector( "[data-markdown]" ); }},
                    {src: "/reveal.js/plugin/markdown/markdown.js", condition: function() { return !!document.querySelector( "[data-markdown]" ); }},
                    {src: "/reveal.js/plugin/highlight/highlight.js", async: true},
                    {src: "/reveal.js/plugin/notes/notes.js", async: true}
                ]
            });
        </script>
    </body>
</html>
